<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regard Dojo</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <% if (locals.user) { %>
        <h1>Welcome Home <%= user.username %></h1>
        <% console.log(user.member); 
        if (user.member !== true){ %>
        <a href="member">Become a Member</a>
        <div class="messages">
            <% if (rows && rows.length > 0){ %>
                <div><%= rows[0].created_at.slice(0,10) %></div>
        <% date = rows[0].created_at.slice(0,10) %>
        <% rows.map((user)=>{%>
        <% if (date !== user.created_at.slice(0,10)){ %>
            <div><%= user.created_at.slice(0,10) %></div>
            <% date = user.created_at.slice(0.10) %>
        <% } %> 
        <div><%= user.created_at.slice(10) %> <b>Anon: </b> <%= user.content %></div>
            <% })}; %>
        <% }else{ %>
            <div class="messages"></div>
            <%  if (rows && rows.length > 0){ %>
           <div><%= rows[0].created_at.slice(0,10) %></div>
        <% date = rows[0].created_at.slice(0,10) %>
        <% rows.map((user)=>{%>
        <% if (date !== user.created_at.slice(0,10)){ %>
            <div><%= user.created_at.slice(0,10) %></div>
            <% date = user.created_at.slice(0.10) %>
        <% } %> 
        <div><%= user.created_at.slice(10) %> <b><%= user.username %> </b> <%= user.content %></div>
            <% })}; %>
            <% } %>
        </div>
    <div class="post">
        <form action="/post" method="POST">
            <input type="hidden" name="username" value="<%= user.username %>">
            <input type="hidden" name="user_id" value="<%= user.id %>">
            <textarea name="content" id="content" rows="4" cols="50" placeholder="Yap away"></textarea>
            <button type="submit">Post</button>
        </form>    
    </div>
    <a href="/logout">LOG OUT</a>
    <% } else{ %>
    <a href="/sign-up">Sign Up for the Club</a>
    <h3>Log in</h3>
    <form action="/" method="POST">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <label for="password">Password: </label>
        <input type="text" name="password" id="password">
        <button type="submit">Submit</button>
    </form>
    <% let date = null; %> 
    <% if (rows && rows.length > 0){ %> 
        <div><%= rows[0].created_at.slice(0,10) %></div>
        <% date = rows[0].created_at.slice(0,10) %>
        <% rows.map((user)=>{%>
        <% if (date !== user.created_at.slice(0,10)){ %>
            <div><%= user.created_at.slice(0,10) %></div>
            <% date = user.created_at.slice(0.10) %>
        <% } %> 
        <div><%= user.created_at.slice(10) %> <b>Anon: </b> <%= user.content %></div>
    <% })}; %>
    <% } %>
</body>
</html>